<div class="container">
  <div class="display text-center">
    <h1>
      FOODHAVEN
    </h1>
  </div><br>

    <div class="row justify-content-center my-3">
      <div class="col-md-4 text-center">
        <div class="btn-group">
          <%= button_to "Find a market near you", markets_search_path, method: :get, class: "btn bg-gradient-primary me-2" %>
        </div>
      </div>
    </div>
  </div>
</div>