<div class="logo-text-container">
  <%= image_tag 'logo.png', alt: 'FOODHAVEN Logo', class: 'logo' %>
  <h3 class="slogan-text">
    Farm-Fresh Food, One Tap Away. SNAP, Ride, and Shop with FoodHaven!
  </h3>
</div>

<div class="image-button-container">
  <%= image_tag 'market1.jpg', alt: 'Market Image', class: 'market-image' %>
  <div class="btn-container">
    <%= button_to "Find a market near you", markets_search_path, method: :get, class: "btn bg-gradient-primary market-button" %>
  </div>
</div>
