---
http_interactions:
- request:
    method: get
    uri: https://external.transitapp.com/v3/otp/plan?fromPlace=40.015,-105.2705&toPlace=39.8367,-105.0372
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - transit_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Reset:
      - '60'
      X-Ratelimit-Limit-Minute:
      - '5'
      X-Ratelimit-Remaining-Minute:
      - '4'
      Ratelimit-Limit:
      - '5'
      Etag:
      - W/"9bff-6SSJ/i5iQz+Ed5wjLKV5WYKLttc"
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"plan\": {\n\t\t\"date\": 1691783131000,\n\t\t\"from\": {\n\t\t\t\"lat\":
        40.01499752485892,\n\t\t\t\"lon\": -105.2704994497284,\n\t\t\t\"name\": \"\",\n\t\t\t\"vertexType\":
        \"NORMAL\"\n\t\t},\n\t\t\"itineraries\": [\n\t\t\t{\n\t\t\t\t\"accessiblity\":
        \"WheelchairStrict\",\n\t\t\t\t\"duration\": 5418,\n\t\t\t\t\"endTime\": 1691789785000,\n\t\t\t\t\"legs\":
        [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"distance\": 777,\n\t\t\t\t\t\t\"duration\":
        653,\n\t\t\t\t\t\t\"endTime\": 1691785020000,\n\t\t\t\t\t\t\"from\": {\n\t\t\t\t\t\t\t\"lat\":
        40.01499752485892,\n\t\t\t\t\t\t\t\"lon\": -105.2704994497284,\n\t\t\t\t\t\t\t\"name\":
        \"\",\n\t\t\t\t\t\t\t\"vertexType\": \"NORMAL\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"legGeometry\":
        {\n\t\t\t\t\t\t\t\"length\": 18,\n\t\t\t\t\t\t\t\"points\": \"ulfsFrsoaS?s@sA@?`D?vB?vD?|E@vFg@LmBf@QD_@Fm@PQDTlBL`A_@HkBf@\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"mode\":
        \"WALK\",\n\t\t\t\t\t\t\"startTime\": 1691784367000,\n\t\t\t\t\t\t\"steps\":
        [],\n\t\t\t\t\t\t\"to\": {\n\t\t\t\t\t\t\t\"lat\": 40.01724582569765,\n\t\t\t\t\t\t\t\"lon\":
        -105.2765159027729,\n\t\t\t\t\t\t\t\"name\": \"\",\n\t\t\t\t\t\t\t\"vertexType\":
        \"NORMAL\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"transitLeg\": false\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"agencyId\":
        \"RTD:RTD\",\n\t\t\t\t\t\t\"agencyName\": \"Regional Transportation District\",\n\t\t\t\t\t\t\"agencyTimeZoneOffset\":
        -21600000,\n\t\t\t\t\t\t\"agencyUrl\": \"http://transitapp.com\",\n\t\t\t\t\t\t\"arrivalDelay\":
        0,\n\t\t\t\t\t\t\"departureDelay\": 0,\n\t\t\t\t\t\t\"distance\": 27900.63777893123,\n\t\t\t\t\t\t\"duration\":
        2400,\n\t\t\t\t\t\t\"endTime\": 1691787420000,\n\t\t\t\t\t\t\"from\": {\n\t\t\t\t\t\t\t\"globalStopId\":
        \"RTD:61385\",\n\t\t\t\t\t\t\t\"lat\": 40.0172368324943,\n\t\t\t\t\t\t\t\"lon\":
        -105.2765968416031,\n\t\t\t\t\t\t\t\"name\": \"Downtown Boulder Station Gate
        1\",\n\t\t\t\t\t\t\t\"stopCode\": \"18977\",\n\t\t\t\t\t\t\t\"stopId\": \"RTD:18977\",\n\t\t\t\t\t\t\t\"stopIndex\":
        0,\n\t\t\t\t\t\t\t\"vertexType\": \"TRANSIT\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"globalRouteId\":
        \"RTD:62467\",\n\t\t\t\t\t\t\"headsign\": \"Union Station All-Station\",\n\t\t\t\t\t\t\"interlineWithPreviousLeg\":
        false,\n\t\t\t\t\t\t\"intermediateStops\": [\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"globalStopId\":
        \"RTD:61386\",\n\t\t\t\t\t\t\t\t\"lat\": 40.00542875648927,\n\t\t\t\t\t\t\t\t\"lon\":
        -105.2716775593679,\n\t\t\t\t\t\t\t\t\"name\": \"Broadway / Euclid Ave\",\n\t\t\t\t\t\t\t\t\"stopCode\":
        \"12433\",\n\t\t\t\t\t\t\t\t\"stopId\": \"RTD:12433\",\n\t\t\t\t\t\t\t\t\"stopIndex\":
        1,\n\t\t\t\t\t\t\t\t\"vertexType\": \"TRANSIT\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"globalStopId\":
        \"RTD:613[...]
