---
http_interactions:
- request:
    method: get
    uri: https://external.transitapp.com/v3/public/route_details?global_route_id=RTD:62467&include_next_departure=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - transit_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '3'
      Ratelimit-Reset:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '5'
      X-Ratelimit-Remaining-Minute:
      - '3'
      Ratelimit-Limit:
      - '5'
      Etag:
      - W/"13dcb-D+gTH/x8Ufg/+H4TtffiY6PjvCM"
    body:
      encoding: ASCII-8BIT
      string: '{"itineraries":[{"canonical_itinerary":true,"direction_headsign":"Union
        Station All-Station","direction_id":0,"headsign":"Union Station All-Station","is_active":true,"merged_headsign":"Union
        Station All-Station","shape":"k|fsFzypaS`E_AC?B?xBzQjJaCnB_@PDlBe@rD}A~FoCZUbPkJ~@m@l@m@n@aAZm@~Qia@|AaErBeId@kA`@k@h@i@p@g@lNuIbImFjm@q_@|AgAj@c@bAkA~@oAx@uAZm@xGiQVo@t@yAx@iAbAgAzCiCc@gAQq@Cg@CcA?gq@FMD_GCqLAkAGgAYwBJw@?kKB_@b@wBt@qBhKcZpHiShDuJ~[o}@hIsUrA}D|CkKrM{d@tAsEt]}mApJi\\tHeXpAqE~Pom@tAkCj@u@nBwAfAcAR[F_@Ca@E_@a@kAEm@?y@Du@N{@Ry@Jy@~@eDpAaEvBoF`CaFfB_D|C}EpIyLvP}UnBwCbCyDhOiX|@yA|EuIxByC\\g@xSc_@jDuGpBoEnBiFjAaD~HkUt@uA|@yAp@}@nCcDl@aAf@cAHUXuAl@eFTyAhFqPbBsGdBqF|DmHrCgEfD_F`CwClQmV`EcGrC{EpAoCj@qA|CwHrDgKhGyPrKoZhAoDrEeMjAeC|AsDjAuBvFyIhFsFjBkBfB}AdFcDzDmC|CiBfCsAPC`DkB|EcCxGwElAgATYzWoPnDsBrEoCpQmIhH{DfJoFzQ}Lt@YfB{@bBq@rCu@tAYXITKZc@nAkBVWfBwB~CqCbAkAxNqJlx@oi@fF}C~Ay@vCkAhTuHtRaHdBo@h@ElEOfDQ|Bi@jA]l@Wj@]`CcBfA_AZKLE^UlFiEjBuALGPQvBgAhIgFlHcGvBcBdG{F~A}AzUsVxOiPfIuIjAuAxAuBdFqIxAsCfBkEtAuE|AwFZqAbAwEfI{b@j@aDfCyMlGq]xBoLzGo]|Ime@tAeHvEgVfCsNf@_DVgCNoBLgDLeL?}FCwTf@{ILgAT}@Z{@T]j@q@t@i@ZQ\\Mv@UnAMrGQt@@jAPzCt@|Ct@d@JjAHf@?fACjAMp@Q|C{@pAUlC]jBMfBU~q@NtH@hFFt@F~ARbHnA`DlAlGhCnBt@`QhH`DjArAb@tElAdEt@`U`DxCb@vCXdEl@fCXvEPhe@HbSBhECnCBjBTfBLxAT|@Lp@TjBt@^TjCfArCh@bBn@dBpAtAlAt@`A~AtBn@p@l@f@nMzHl@Xj@TfATfAHbA?`AGrEe@pAK|BExAOvFM|AIjAUl@Ul@[fAy@nAkAUTTUdDpEtBtBPXdC`Dt@lAL\\lAfELX`BfCfAtA^t@Jt@Dj@T~@aC|CgBlCGd@FP^`@PLtAb@j@HPFLQnBeCpAoB","stops":[{"global_stop_id":"RTD:61385","location_type":0,"next_departure":{"departure_time":1691783220,"is_cancelled":false,"is_real_time":false,"rt_trip_id":"114461708","scheduled_departure_time":1691783220,"trip_search_key":"RTD:42930966:413:3:14","wheelchair_accessible":1},"parent_station_global_stop_id":"RTD:58751","route_type":3,"rt_stop_id":"18977","stop_code":"18977","stop_lat":40.0172368324943,"stop_lon":-105.2765968416031,"stop_name":"Downtown
        Boulder Station Gate 1","wheelchair_boarding":1},{"global_stop_id":"RTD:61386","location_type":0,"next_departure":{"departure_time":1691783520,"is_cancelled":false,"is_real_time":false,"rt_trip_id":"114461708","scheduled_departure_time":1691783520,"trip_search_key":"RTD:42930966:413:3:14","wheelchair_accessible":1},"parent_station_global_stop_id":null,"route_type":3,"rt_stop_id":"12433","stop_code":"12433","stop_lat":40.00542875648927,"stop_lon":-105.2716775593679,"stop_name":"Broadway
        \/ Euclid Ave","wheelchair_boarding":1},{"globa[...]
