<header>
<div class="col d-flex justify-content-center"><h2>Closest Farmer's Markets<h2></div>
</header>
<body>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <% @markets.each do |market| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="my-3 card" style="width:500px">
        <div style="background-color: rgba(239, 91, 91)">
          <div class="card-body">
            <div class="d-flex justify-content-center"><%= link_to market.name, market_path(market.id, original_lat: params[:latitude], original_lon: params[:longitude]), method: :get, class: "btn btn-outline-primary me-2 btn-lg" %></div>
            <div class="d-flex justify-content-center">
              <% if market.snap_option == "" %>
                Snap option: none <br>
              <% else %>
                Snap Option: <%= market.snap_option %> <br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>