<h1> Nearby Markets based on your location</h1>
<% @markets.each do |market| %>
  <%= link_to market.name, market_path(market.id, original_lat: params[:latitude], original_lon: params[:longitude]) %> <br>
 <p>
    <% if market.snap == "" %>
      Snap option: none <br>
    <% else %>
      Snap Option: <%= market.snap %> <br>
    <% end %>
  </p>
<% end %>