/* Coolors Exported Palette - https://coolors.co/009fb7-4c2c69-f5e663-ef5b5b-2bc875 */

/* CSS HEX */
$moonstone: #009fb7ff;
$tekhelet: #4c2c69ff;
$maize: #f5e663ff;
$bittersweet: #ef5b5bff;
$emerald: #2bc875ff;

/* CSS HSL */
$moonstone: hsla(188, 100%, 36%, 1);
$tekhelet: hsla(271, 41%, 29%, 1);
$maize: hsla(54, 88%, 67%, 1);
$bittersweet: hsla(0, 82%, 65%, 1);
$emerald: hsla(148, 65%, 48%, 1);

/* SCSS HEX */
$moonstone: #009fb7ff;
$tekhelet: #4c2c69ff;
$maize: #f5e663ff;
$bittersweet: #ef5b5bff;
$emerald: #2bc875ff;

/* SCSS HSL */
$moonstone: hsla(188, 100%, 36%, 1);
$tekhelet: hsla(271, 41%, 29%, 1);
$maize: hsla(54, 88%, 67%, 1);
$bittersweet: hsla(0, 82%, 65%, 1);
$emerald: hsla(148, 65%, 48%, 1);

/* SCSS RGB */
$moonstone: rgba(0, 159, 183, 1);
$tekhelet: rgba(76, 44, 105, 1);
$maize: rgba(245, 230, 99, 1);
$bittersweet: rgba(239, 91, 91, 1);
$emerald: rgba(43, 200, 117, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, rgb(2, 54, 62), #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-right: linear-gradient(90deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-bottom: linear-gradient(180deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-left: linear-gradient(270deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-top-right: linear-gradient(45deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-bottom-right: linear-gradient(135deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-top-left: linear-gradient(225deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-bottom-left: linear-gradient(315deg, #009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);
$gradient-radial: radial-gradient(#009fb7ff, #4c2c69ff, #f5e663ff, #ef5b5bff, #2bc875ff);